main{
    width: 100%;
    .divPadre{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        &__input{
            border-radius: 4px;
            border: 1px solid grey;
            width: 300px;
            height: 36px;
            padding-left: 20px;
        }
        &__button{
            margin: 20px;
            width: 100px;
            height: 36px;
            border-radius: 4px;
            background-color: #D96D55;
        }
        &__button:hover{
            background-color: #c96650;
            cursor:pointer; cursor: hand
        }
    }
}